@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&family=Inter:wght@400;500&display=swap');

.loginForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    outline-width: 1px;
    outline-style: groove;
    border-radius: 20px;
    padding: 20px 50px;
    outline-color: gray;
    max-width: 600px;
    background-color: rgba(255, 255, 255, 0.957);
    
}

.loginForm div {
    min-width: 350px;
    align-self: center;
}

#topHeader h1 {
    font-family: 'Playfair Display', serif;
    font-size: 36px;
}

#topHeader h3 {
    font-family: 'Playfair Display', sans-serif;
    color: #9CA3AF;
    font-size: 16px;
    margin-top: -20px;
    letter-spacing: 0.02em;
}

#submission form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#submission form div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#submission form button {
    font-family: 'Playfair Display', sans-serif;
    margin-top: 20px;
    background-color: rgba(93, 93, 219, 0.925);
    color: aliceblue;
    font-size: 14px;
    padding: 10px 0 10px 0;
    border-radius: 0px;
}

#submission form label {
    align-self: flex-start;
    font-size: 18px;
    font-family: 'Playfair Display', sans-serif;
}

#submission form input {
    padding: 7px 0 7px 0;
    padding-left: 10px;
    color: #6d737d;
}

#submission form input:focus {
    outline-width: 1px;
    outline-style: solid;
}

#signUp {
    margin-top: 50px;
    font-family: 'Playfair Display', sans-serif;
    font-size: 12px;
}

#signUp h3 {
    color: #6d737d;
}

#signUp h3 a {
    color: black;
}

.error-message {
    font-size: 11px;
    font-family: 'Playfair Display', sans-serif;
    color: rgba(255, 99, 71, 0.397);
}