@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

#landingDiv {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('../../assets/pattern.png');
    background-size: 50%;
    background-position: center;
    overflow: hidden;
}

#innerDiv {
    height: 97%;
    width: 98%;
    align-self: center;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background: linear-gradient(135deg, #ffffff, #f8f8f8, rgba(255, 255, 255, 0.971));
}

#landingPage {
    display: flex;
    height: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#clubsList {
    width: 90%;
    padding: 60px 10px 60px 90px;
    height: 100%;
    gap: 0px 40px;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 0.8fr));
    gap: 20px 10px; 
    overflow: auto;
    scrollbar-width: none;
}


#navBar {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    border-radius: 10px 10px 0 0;
}

#navBar li {
    color: #0051BA;
    text-decoration: none;
    font-weight: 600;
    padding: 0 20px;
    display: inline-block;
    border-right: 1px solid #0051BA;
    font-family: 'Playfair Display', serif;
}

#navBar li:hover{
    cursor: pointer;
}

#navBar #end {
    border-right: 0px none;
    padding-right: 35px;
}

#navBar img {
    max-width: 80px;
    max-height: 80px;
    padding: 20px 0 0 41px;
}

.clubNote {
    display: flex;
    flex-direction: column;
    min-height: 250px;
    max-height: 250px;
    min-width: 250px;
    max-width: 500px;
    width: 80%;
    height: 80%;
    background-color: #fed98ff1;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.1);
    border-style: groove;
    border-width: 0 1px 1px 0;
    border-color: rgb(65, 165, 134);
    font-family: 'Playfair Display', sans-serif;
    color: rgba(0, 0 , 0, 0.8);
}

.clubHeader {
    height: 8%;
    background-color: rgb(233, 188, 24);
    padding: 0 7px 0 10px;
    display: flex;
    justify-content: space-between;
}

.clubHeader p {
    font-family: 'Caveat', serif;
    font-size: 14px;
    color: white;
}

.clubHeader .adminDelete {
    color: rgb(125, 29, 29);
    background-color: rgb(125, 29, 29);
    padding: 0px 3px 0px 3px;
    align-self: center;
    text-align: center;
    border-radius: 50px;
    font-size: 8px;
}

.clubHeader .adminDelete:hover {
    color: rgb(255, 255, 255);
    border-color: white;
    border-style: groove;
    border-width: 1px;
    cursor: pointer;
}

.clubContent p {
    font-family: 'Playfair Display', sans-serif;
}

.clubContent {
    display: flex;
    flex-direction: column;
    height: 88%;
    background-image: url('../../assets/note.png');
    background-size: 95%;
    background-position: center;
    background-blend-mode: overlay;
    padding: 0px 0px 0px 10px;
    text-align: center;
    overflow: hidden;
    gap: 8px;
}

.clubContent p, .clubHeader p {
    margin: 0;
}

.clubContent .clubName {
    font-size: 20px;
    color: rgb(36, 50, 183);
    font-family: 'Playfair Display', serif;
    font-weight: 600;
}

.clubContent .clubDesc {
    text-align: start;
    font-family: 'Indie Flower', serif;
}

.clubContent p {
    line-height: 1.5;
    word-wrap: break-word;
    width: 100%;
}

.adminCheck {
    font-size: 12px;
}

.loading, .noClubs {
    padding-left: 80px;
}