@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');

#landingDiv {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    z-index: 0;
}

#blurFilter {
    width: 100%;
    height: 100%;
    position: absolute;
    filter: blur(1px);
    overflow: hidden;
    z-index: -1;
    background-image: url('../../assets/jayhawks.png');
    background-size: 50%;
    background-position: center;
}

#innerDiv {
    height: 100%;
    width: 100%;
    align-self: center;
    /* border-radius: 30px; */
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background: linear-gradient(135deg, #ffffff, #f8f8f8);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

#landingPage {
    display: flex;
    height: 100%;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
}

#clubsList {
    width: 90%;
    padding: 30px 10px 30px 90px;
    height: 100%;
    gap: 0px 40px;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 0.8fr));
    gap: 20px 10px;
    overflow: auto;
    scrollbar-width: none;
}


#navBar {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    border-radius: 10px 10px 0 0;
}

#navBar li {
    color: #0051BA;
    text-decoration: none;
    font-weight: 600;
    padding: 8px 15px 10px 15px;
    display: inline-block;
    border-right: 1px solid #0051BA;
    font-family: 'Playfair Display', serif;
}

#navBar h1 {
    font-size: 36px;
    font-family: 'Playfair Display', sans-serif;
    color: #395a85;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #100f0d;
    padding: 15px 550px 25px 20px;
}

#navBar .leftHeader {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#navBar li:hover {
    cursor: pointer;
}

#navBar #start {
    padding-left: 20px;
}

#navBar #end {
    border-right: 0px none;
    margin-right: 35px;
}

#navBar img {
    max-width: 80px;
    max-height: 80px;
    padding: 20px 0 20px 41px;
}

.clubNote {
    display: flex;
    flex-direction: column;
    min-height: 250px;
    max-height: 250px;
    min-width: 250px;
    max-width: 500px;
    width: 80%;
    height: 80%;
    background-color: #fed98ff1;
    /*
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.1);
    border-style: groove;
    border-width: 0 1px 1px 0;
    border-color: rgb(65, 165, 134); */
    font-family: 'Playfair Display', sans-serif;
    color: rgba(0, 0, 0, 0.8);
}

.clubNote::after {
    content: "";
    width: 30px;
    align-self: flex-end;
    height: 30px;
    transition: all 0.3s ease-out;
    z-index: 2;
}

.clubNote:hover::after {
    background: linear-gradient(135deg, transparent 50%, rgba(255, 255, 255, 0.9) 50%);
    box-shadow: -2px -2px 2px rgba(0, 0, 0, 0.2);
    width: 45px;
    height: 45px;
}

.clubHeader {
    height: 8%;
    background-color: rgb(233, 188, 24);
    padding: 0 7px 0 10px;
    display: flex;
    justify-content: space-between;
}

.clubHeader p {
    font-family: 'Caveat', serif;
    font-size: 14px;
    color: white;
}

.clubHeader .adminDelete {
    color: rgb(125, 29, 29);
    background-color: rgb(125, 29, 29);
    padding: 0px 3px 0px 3px;
    align-self: center;
    text-align: center;
    border-radius: 50px;
    font-size: 8px;
}

.clubHeader .adminDelete:hover {
    color: rgb(255, 255, 255);
    border-color: white;
    border-style: groove;
    border-width: 1px;
    cursor: pointer;
}

.clubContent p {
    font-family: 'Playfair Display', sans-serif;
}

.clubContent {
    display: flex;
    flex-direction: column;
    height: 100%;
    /* background-image: url('../../assets/note.png'); */
    background-size: 95%;
    background-position: center;
    background-blend-mode: overlay;
    padding: 10px 10px;
    text-align: center;
    overflow: hidden;
}

.clubContent p,
.clubHeader p {
    margin: 0;
}

.clubHeader .clubName {
    font-family: 'Playfair Display', serif;
    color: black;
    font-size: 12px;
}

.clubContent {
    font-size: 20px;
    color: rgb(36, 50, 183);
    font-family: 'Playfair Display', serif;
    font-weight: 600;
}

.clubContent .clubDesc {
    text-align: start;
    font-family: 'Indie Flower', serif;
}

.clubContent p {
    line-height: 1.5;
    word-wrap: break-word;
    width: 100%;
}

.adminCheck {
    font-size: 12px;
}

.loading,
.noClubs {
    padding-left: 80px;
}