@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&family=Inter:wght@400;500&display=swap');

.registerForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    outline-width: 1px;
    outline-style: groove;
    border-radius: 20px;
    padding: 20px 50px;
    outline-color: gray;
    max-width: 600px;
    background-color: rgba(255, 255, 255, 0.957);
}

.registerForm div{
    min-width: 350px;
}

.registerForm h1 {
    font-family: 'Playfair Display', serif;
    font-size: 36px;
}

.registerForm form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.registerForm form div {
    display: flex;
    flex-direction: column;
}

.registerForm form button {
    font-family: 'Playfair Display', sans-serif;
    margin-top: 20px;
    background-color: rgba(93, 93, 219, 0.925);
    color: aliceblue;
    font-size: 14px;
    padding: 10px 0 10px 0;
    border-radius: 0px;
}

#names {
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

.registerForm form input {
    padding: 7px 0 7px 0;
    padding-left: 10px;
    color: #6d737d;
    font-family: 'Playfair Display', sans-serif;
}

.registerForm form input:focus {
    outline-width: 1px;
    outline-style: solid;
}

.registerForm .login {
    margin-top: 50px;
    font-family: 'Playfair Display', sans-serif;
    font-size: 14px;
}

.registerForm .login p {
    color: #6d737d;
}

.registerForm .login p a {
    color: black;
}

.error-message {
    font-size: 11px;
    font-family: 'Playfair Display', sans-serif;
    color: rgba(255, 99, 71, 0.494);
}